.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  display: block;
  position: relative;
}

.circle {
  width: 3.5em;
  height: 3.5em;
  background-color: map(colors, primary, base);
  border-radius: 50%;
}

[partido="Liberal"] {
  fill: map(colors, partidos, liberal)
}

[partido="La U"] {
  fill: map(colors, partidos, laU)
}

[partido="Conservador"] {
  fill: map(colors, partidos, conservador)
}

[partido="ASI"] {
  fill: map(colors, partidos, asi)
}

[partido="Partido Verde"] {
  fill: map(colors, partidos, alianzaVerde)
}

[partido="Cambio Radical"] {
  fill: map(colors, partidos, cambioRadical)
}

[partido="Mais"] {
  fill: map(colors, partidos, mais)
}

[partido="Antiguo PIN"] {
  fill: map(colors, partidos, opcionCiudadana)
}

[partido="Polo"] {
  fill: map(colors, partidos, polo)
}

[partido="Centro Democrático"] {
  fill: map(colors, partidos, centroDemocratico)
}

.balloon {
  position: absolute;
  background: red;
  transform: translate(-50%, 0)
}