.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  display: flex;
  position: relative;
  margin-top: 3em;
}

.circle {
  transition: .4s;

  &[partido="Liberal"] {
    fill: map(colors, partidos, liberal);
    background-color: map(colors, partidos, liberal);
  }

  &[partido="La U"] {
    fill: map(colors, partidos, laU);
    background-color: map(colors, partidos, laU);
  }

  &[partido="Conservador"] {
    fill: map(colors, partidos, conservador);
    background-color: map(colors, partidos, conservador);
  }

  &[partido="ASI"] {
    fill: map(colors, partidos, asi);
    background-color: map(colors, partidos, asi);
  }

  &[partido="Partido Verde"] {
    fill: map(colors, partidos, alianzaVerde);
    background-color: map(colors, partidos, alianzaVerde);
  }

  &[partido="Cambio Radical"] {
    fill: map(colors, partidos, cambioRadical);
    background-color: map(colors, partidos, cambioRadical);
  }

  &[partido="Mais"] {
    fill: map(colors, partidos, mais);
    background-color: map(colors, partidos, mais);
  }

  &[partido="Antiguo PIN"] {
    fill: map(colors, partidos, opcionCiudadana);
    background-color: map(colors, partidos, opcionCiudadana);
  }

  &[partido="Polo"] {
    fill: map(colors, partidos, polo);
    background-color: map(colors, partidos, polo);
  }

  &[partido="Centro Democrático"] {
    fill: map(colors, partidos, centroDemocratico);
    background-color: map(colors, partidos, centroDemocratico);
  }

  &.Sí,
  &.No {
    stroke: #80DC17;
    stroke-width: 2px;
  }

  &.No {
    stroke: #FF0000;
  }

  &.Noestaba {
    opacity: .15;
  }
}

.marker {
  transition: fill .4s;
  stroke: #000;
  stroke-width: 0.5px;
  pointer-events: none;

  &.Sí {
    fill: #80DC17;
  }

  &.No {
    fill: #FF0000;
  }

  &.Noestaba {
    opacity: 0;
  }
}

.svg {
  overflow: visible !important;
}

.balloon {
  pointer-events: none;
  transition: .4s;

  &__hidden {
    opacity: 0;
  }

  &__rect {
    background: rgba(17, 17, 17, 0.9);
  }

  &__text {
    fill: #fff;
    font-size: 5px;
  }

}

.icon {
  fill: white;
  stroke: black;
  stroke-width: 0.5px;
  pointer-events: none;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  background: transparent;
  border: 0;
  transform: rotate(45deg);
  padding: 0;
  margin-top: 1.5em;
}

.description {
  max-width: 21em;
  float: left;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & p {
    font-size: .8em;
  }
}

.graphic {
  width: calc(100% - 20em);
  float: right;
}

.rangeContainer {
  position: relative;

  & .overlay {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  & .point {
    width: 2em;
    height: 12px;
    display: block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      display: block;
      background-color: map(colors, secondary, base);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & [type='range'] {
    -webkit-appearance: none;
    margin: 1em 0;
    width: 100%;
  }

  & [type='range']:focus {
    outline: 0;
  }

  & [type='range']:focus::-webkit-slider-runnable-track {
    background: map(colors, secondary, light);
  }

  & [type='range']:focus::-ms-fill-lower {
    background: map(colors, secondary, light);
  }

  & [type='range']:focus::-ms-fill-upper {
    background: map(colors, secondary, light);
  }

  & [type='range']::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 12px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    background: map(colors, secondary, light);
    border: 0 solid transparent;
    border-radius: 0.3em;
  }

  & [type='range']::-webkit-slider-thumb {
    background: map(colors, primary, base);
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    height: 2em;
    width: 2em;
    -webkit-appearance: none;
    margin-top: -9px;
    z-index: 5;
    position: relative;
  }

  & [type='range']::-moz-range-track {
    cursor: pointer;
    height: 12px;
    transition: all .2s ease;
    width: 100%;
    background: map(colors, secondary, light);
    border: 0 solid transparent;
    border-radius: 5px;
  }

  & [type='range']::-moz-range-thumb {
    background: map(colors, primary, base);
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: 5;
    position: relative;
  }

  & [type='range']::-ms-track {
    cursor: pointer;
    height: 12px;
    transition: all .2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 15px 0;
    color: transparent;
  }

  & [type='range']::-ms-fill-lower {
    background: map(colors, secondary, light);
    border: 0 solid transparent;
    border-radius: 10px;
  }

  & [type='range']::-ms-fill-upper {
    background: map(colors, secondary, light);
    border: 0 solid transparent;
    border-radius: 10px;
  }

  & [type='range']::-ms-thumb {
    background: map(colors, primary, base);
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 0;
    z-index: 5;
    position: relative;
  }
}

.legend {
  list-style: none;
  padding: 0;

  & li {
    display: flex;
    align-items: center;
  }

  & .legend__item {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px solid;
    margin-right: 0.5em;

    &.Si {
      border-color: #80DC17;
    }

    &.No {
      border-color: #FF0000;
    }

    &.NoEstaba {
      border: 0;
      background-color: map(colors, primary, base);
      opacity: 0.15;
    }
  }

  & .legend__result {
    color: #fff;
    padding: 0 0.5em;
    margin: 0.2em 0.5em;

    &.Si {
      background-color: #80DC17;
    }

    &.No {
      background-color: #FF0000;
    }

    &.NoEstaba {
      background-color: map(colors, primary, base);
    }
  }
}

.conventions {
  list-style: none;
  padding: 0;

  & li {
    display: inline-block;
  }
}

.partido {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 50%;
}