.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  display: block;
  position: relative;
}

.circle {
  transition: .4s;

  &[partido="Liberal"] {
    fill: map(colors, partidos, liberal)
  }

  &[partido="La U"] {
    fill: map(colors, partidos, laU)
  }

  &[partido="Conservador"] {
    fill: map(colors, partidos, conservador)
  }

  &[partido="ASI"] {
    fill: map(colors, partidos, asi)
  }

  &[partido="Partido Verde"] {
    fill: map(colors, partidos, alianzaVerde)
  }

  &[partido="Cambio Radical"] {
    fill: map(colors, partidos, cambioRadical)
  }

  &[partido="Mais"] {
    fill: map(colors, partidos, mais)
  }

  &[partido="Antiguo PIN"] {
    fill: map(colors, partidos, opcionCiudadana)
  }

  &[partido="Polo"] {
    fill: map(colors, partidos, polo)
  }

  &[partido="Centro Democrático"] {
    fill: map(colors, partidos, centroDemocratico)
  }

  &.Sí,
  &.No {
    stroke: green;
    stroke-width: 2px;
  }

  &.No {
    stroke: red;
  }

  &.Noestaba {
    opacity: .15;
  }
}

.svg {
  overflow: visible !important;
}

.balloon {
  pointer-events: none;
  transition: .4s;

  &__hidden {
    opacity: 0;
  }

  &__rect {
    background: rgba(17, 17, 17, 0.9);
  }

  &__text {
    fill: #fff;
    font-size: 5px;
  }

}

.icon {
  fill: white;
  stroke: black;
  stroke-width: 0.5px;
  pointer-events: none;
}